In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [34]:
df = pd.read_csv('insurance.csv')
df = df[['age','sex','smoker', 'charges']]
df.columns = ['age', 'sex', 'smoker', 'Insurance_Amount']

In [33]:
df[]

In [6]:
df

      age     sex smoker  Insurance_Amount
0      19  female    yes       16884.92400
1      18    male     no        1725.55230
2      28    male     no        4449.46200
3      33    male     no       21984.47061
4      32    male     no        3866.85520
...   ...     ...    ...               ...
1333   50    male     no       10600.54830
1334   18  female     no        2205.98080
1335   18  female     no        1629.83350
1336   21  female     no        2007.94500
1337   61  female    yes       29141.36030

[1338 rows x 4 columns]

In [29]:
X = df[['age', 'sex', 'smoker']]
y = df['Insurance_Amount']

In [30]:
# Linear Regression 

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [31]:
X = pd.get_dummies(X)
X

      age  sex_female  sex_male  smoker_no  smoker_yes
0      19           1         0          0           1
1      18           0         1          1           0
2      28           0         1          1           0
3      33           0         1          1           0
4      32           0         1          1           0
...   ...         ...       ...        ...         ...
1333   50           0         1          1           0
1334   18           1         0          1           0
1335   18           1         0          1           0
1336   21           1         0          1           0
1337   61           1         0          0           1

[1338 rows x 5 columns]

In [24]:
regressor.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
# Saving model to disk
pickle.dump(regressor, open('model_insurance.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model_insurance.pkl','rb'))
# Age, Sex, Smoker
#print(model.predict([[20, 'Male', 'No']]))

In [28]:
pd.get_dummies([20, 'Male', 'No'])

   20  Male  No
0   1     0   0
1   0     1   0
2   0     0   1